<html ng-app="notesApp">
<head>
    <title>OpenMUD client</title>
    <link href="lib/flat-ui/dist/css/vendor/bootstrap.min.css" rel="stylesheet">
    <link href="lib/flat-ui/dist/css/flat-ui.css" rel="stylesheet">
    <link href="lib/angularjs-toaster/toaster.css" rel="stylesheet">

    <link href="css/client.css" rel="stylesheet">
</head>
<body ng-controller="MainCtrl as ctrl">
<form ng-submit="ctrl.submit()" name="myForm">
    <input type="text"
           ng-model="ctrl.username"
           required
           ng-minlength="3">
    <input type="submit"
           value="Submit"
           ng-disabled="myForm.$invalid">
</form>

<div ng-repeat="message in ctrl.messages track by $index">
    {{message}}<br>
</div>
<form ng-submit="ctrl.sendCommand()" name="commandForm">
    <input type="text"
           ng-model="ctrl.commandLine">
    <input type="submit"
           value="Send">
</form>
<div>
    <b>{{ctrl.locationShort}}</b><br>
    {{ctrl.locationLong}}<br>
    {{ctrl.locationPlayers}}
</div>

<script
        src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js">
</script>
<script src="lib/sockjs/sockjs.min.js"></script>
<script src="lib/stomp/lib/stomp.min.js"></script>
<script type="text/javascript">
angular.module('notesApp', []).controller('MainCtrl', ['$scope', function(sc) {
    var self = this;
    self.username = '';
    self.commandLine = '';
    self.locationShort = '';
    self.locationLong = '';
    self.stompClient = null;
    self.messages = [];
    self.players = [];
    self.locationPlayers = ''
    self.submit = function() {
        console.log('User clicked submit with ', self.username);
        var socket = new SockJS('/openmud');
        self.stompClient = Stomp.over(socket);

        var headers = {};
        headers['simpUser'] = self.username;
        self.stompClient.connect(headers, function(frame) {
                console.log('Connected: ' + frame);

                self.stompClient.subscribe('/topic/player.login', function(message) {
                    console.log("Got message on PLAYER.LOGIN channel", message);
                    sc.$apply(function() {
                        self.messages.push(JSON.parse(message.body).response);
                    });
                    console.log("Messages ", self.messages);
                });

                self.stompClient.subscribe('/topic/global', function(message){
                    console.log("Got message on GLOBAL channel", message);
                    sc.$apply(function() {
                        self.messages.push(JSON.parse(message.body).message);
                    });
                    console.log("Messages ", self.messages);

                });

                self.stompClient.subscribe('/user/queue/private', function(message) {
                    console.log("Got message on PRIVATE channel", message);
                    sc.$apply(function() {
                        var responseAsString = JSON.parse(message.body).response;
                        var response = JSON.parse(responseAsString);
                        if(response.type==='Location') {
                          self.locationShort = response.short;
                          self.messages.push(response.short);
                          self.locationLong = response.long;
                          self.messages.push(response.long);
                          self.players = response.players;
                          self.locationPlayers = self.players.map(function(elem){
                            return elem.name;
                          }).join(",");
                        }else if(response.type==='Say') {
                          self.messages.push(response.message);
                        }else {
                          self.messages.push(JSON.parse(message.body).response);
                        }
                    });
                    console.log("Messages ", self.messages);
                });

                self.stompClient.send("/app/player.login", {}, JSON.stringify({ 'playerName': self.username }));
        });
    };

    self.sendCommand = function() {
        var firstWord = self.commandLine.substr(0, self.commandLine.indexOf(" "));
        if(firstWord.toUpperCase()==='SAY') {
            self.stompClient.send("/app/playerInput", {}, JSON.stringify({ 'command': firstWord.toUpperCase(), 'playerName': self.username, 'payload': self.commandLine.split(' ').slice(1).join(' ') }));
        } else {
            self.stompClient.send("/app/playerInput", {}, JSON.stringify({ 'command': self.commandLine.toUpperCase(), 'playerName': self.username, 'payload':'' }));
        }
    };
}]);
</script>
</body>
</html>